node_modules/
dist/
build/
.DS_Store
*.log
.env*
coverage/
.vite/
.cache/
**/.parcel-cache/
**/.next/
**/.nuxt/
**/.vercel/
**/.solid/
**/.svelte-kit/
**/.angular/
**/target/
**/out/
**/tmp/
**/temp/
RailOptiSim/venv/
RailOptiSim/__pycache__/
**/__pycache__/
